mixin video(info)
    div 
        h4=info.title
        ul 
            li #{info.rating}/5.
            li #{info.comments} comments.
            li posted #{info.createdAt}.
            li #{info.view} views.